# FASTAPI
FASTAPI_SECRET=""
# DATABASE
DATABASE_HOST="mariadb"
DATABASE_USER="app"
DATABASE_PASSWORD="app"
DATABASE_DB="app"
# CELERY
CELERY_URL="pyamqp://guest@rabbitmq//"
CELERY_QUEUE=scheduler
# REDIS
REDIS_URL="redis://redis"
